* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
}

* h1 {
  margin: 0 0 8px 0;
}

.headerName {
  font-size: 20px;
  padding: 5px 0;
}

li.active a {
  color: #fff;
}

li a:hover {
  color: #fff;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  transform: translateY(-50%);
}
